.container{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.title{
    margin: 1rem;
}
.switch-button{
    margin: 1rem;
}
h1{
    color: #f5f1f1;
    font-size: 1.2rem;
}